.main-container {
    height: calc(100vh - var(--navBar-height) - var(--fill-bottom));
    width: 100%;
    overflow-y: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.feed-container {
    width: 100%;
    max-width: 700px;
}

.main-secondary-section {
    position: relative;    
}

.feed-element {
    min-height: 500px;
    width: 95%;        
}

.main-element {
    margin: 24px !important;
    background-color: var(--contrast-color) !important;        
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    .main-container {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
}

@media (min-height: 992px) {
    .main-secondary-section {
        position: sticky;
        top: 0;    
    }
}