.myNavBar-main {
    height: var(--navBar-height);
    background-color: var(--secondary-color);
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}

.myNavBar-element {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.myNavBar-logo {
    width: 40%;    
    color: var(--contrast-color)
}

.myNavBar-logo h3 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.myNavBar-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 24px;    
}

.myNavBar-links i {
    font-size: 1.3rem;
    margin-left: 8px;    
    color: var(--contrast-color);
}

.myNavBar-links i:hover {
    cursor: pointer;
}