:root {
  --primary-color: #DBD8E3;
  --secondary-color: #2A2438;
  --alternative-color: #5C5470;
  --contrast-color: #FFFFFF;
  --navBar-height: 64px;
  --main-top: 0px;
  --fill-bottom: 0px;
}

.App {
  text-align: center;
  background-color: var(--primary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 1vmin);
  color: var(--secondary-color);
}

/**START Generic components**/
.btn {
  font-weight: 500 !important;
}

.btn-primary {
  background-color: var(--alternative-color) !important;
  border-color: var(--alternative-color) !important;
  color: var(--contrast-color) !important;  
}

.spinner-grow {
  width: 3rem !important;
  height: 3rem !important;
}

.bg-image {
  background-position: center;
  background-repeat: no-repeat;
}

.bg-image-cover {
  background-size: cover;
}

/**END Generic components**/

main {
  margin-top: calc(var(--navBar-height) + var(--main-top));  
}

.fill-view {
  min-height: calc(100vh - var(--navBar-height) - var(--fill-bottom));  
  width: 100%;
}

/**Profile IMG**/
.profile-img {  
  background-color: var(--primary-color);  
  border-radius: 50%;  
  font-size: 4rem;    
  cursor: pointer;
}

.profile-register {
  width: 150px;
  height: 150px;
  cursor: pointer;
}
