:root {
  --primary-color: #DBD8E3;
  --secondary-color: #2A2438;
  --alternative-color: #5C5470;
  --contrast-color: #FFFFFF;
  --navBar-height: 64px;
}

.App {
  text-align: center;
  background-color: var(--primary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 1vmin);
  color: var(--contrast-color);
}

/**Generic components**/
.btn {
  font-weight: 500 !important;
}

.btn-primary {
  background-color: var(--alternative-color) !important;
  border-color: var(--alternative-color) !important;
  color: var(--contrast-color) !important;  
}

main {
  margin-top: var(--navBar-height);
}