:root {
  --primary-color: #A1A7C8;
  --secondary-color: #6B9FED;
  --alternative-color: #24F9F9;
  --contrast-color: #FFFFFF;
  --navBar-height: 64px;
}

.App {
  text-align: center;
  background-color: var(--primary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: var(--contrast-color);
}

/**Generic components**/
.btn {
  font-weight: 500 !important;
}

.btn-primary {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  color: var(--contrast-color) !important;  
}
